@import 'https://fonts.googleapis.com/css?family=Lato:300';

h1, h2, h4, h5, h6 {
	text-transform: uppercase;
	color: #444;
	font-family: rale;
	letter-spacing: 1px;
}
h2{
	font-size: 26px;
	color: #333;
}
h3{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	padding-top:20px; 
	font-weight: normal;
	color: #777;
}
h4{
	margin-top: 15px;
	font-size: 16px;
}
h5{
	font-family: Lato, sans-serif;
	line-height: 1.5;
	font-weight: normal;
	padding: 10px 0;
	font-size: 12px;
}
p{
	color: #888;
	font-family: Lato, sans-serif;
	font-size: 15px;
}
.wap{
	width: 90%;
	margin: auto;
}
.bienvenidos{
	margin-top: 50px;
	text-align: center;
}
.contenedor-columnas{
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
}
.columnasx3{
	width: 33.333%;
	float: left;
	padding: 20px 20px;
	box-sizing: border-box;
	margin: auto;
}
.columnasx3 img{
	width: 100%;

}
.banner-1{
	width: 100%;
	background: #1ABC9C;
	clear: both;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.4s;
}
.banner-1:hover{
	background: #444;
	transition: .4s;
}
.banner-1 h3{
	color: #fff;
	font-size: 32px;
}
.banner-1 a{
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fff;
}

