*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
}

b{
    font-style: capitalize;
}

.content-all{
    width: 500px;
    height: 300px;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 5%;
    overflow: hidden;
    perspective: 800px;
    
    box-shadow: 0 20px 40px 0 black;
}

.content-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-100%) rotateY(360deg);
    opacity: 0;
    transition: all 1s;
}

#img1{
    transform: translateX(0);
    opacity: 1;
}

.content-img:target{
    transform: translateX(0) rotateY(0deg);
    opacity: 1;
}
.content-img img{
    width: 100%;
    height: 100%;
}

.icon-left-open{
    position: absolute;
    top: 130px;
    left: 0;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.icon-right-open{
    position: absolute;
    top: 130px;
    right: 0;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.content-details{
    position: relative;
    top: -270px;
    width: 350px;
    margin: auto;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-family: arial;
}

.content-details p{
    margin-top: 20px;
}

.content-details input[type="button"]{
    padding: 6px 40px;
    font-size: 18px;
    margin-top: 10px;
    background: rgba(255, 10, 0, 0.5);
    border-style: none;
    color: white;
    outline: 0px;
    transition: all 300ms;
}

.content-details input[type="button"]:hover{
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 300ms;
}

.btn_transporte{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: #5c861d;
    border-radius: 6px;
    border: 3px solid #5c861d;
  }
  .btn_transporte:hover{
    color: #5c861d;
    background-color: #efeded;
  }

  @media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
           padding-bottom: 30px;
       }
       .flotante img {
            width: 100px;
            height: 50px;
       }
       .contadorvisitas img{
        width: 19px;
       }
}




























