@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

*{
	margin: 0;
	padding: 0;
	font-family: 'Julius Sans One', sans-serif;
}

p#textonuevo{
	font-family: "Times New Roman", Georgia, Serif;
}

section#contenedor_generaltodo{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
	background-image: url(../pictures/bg.jpg);
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	overflow: hidden;
}

section#bodyy{
	width: 100%;
	min-height: 300px;
	overflow: hidden;
}

section#scrolldownscrolldown{
	margin: auto;
	width: 300px;
	height: 60px;
}

p#tituloscroll{
	text-align: center;
	font-weight: lighter;
	font-size: 1.5em;
	color: white;
}

p#menorque{
	-webkit-transform: rotate(270deg);
	text-align: center;
	color: white;
	font-size: 1.3em;
}

section#seccioones{
	width: 100%;
	height: 400px;
	margin-top: 20px;
	background-color: white;
}